
<div class = "isf-layout_interactive-scroller js--interactive-scroller" id = "{{ layoutId }}">
    <!-- Steps: maybe generate in script? -->
    <div class = "isf-layout_interactive-scroller__viewer js--interactive-scroller__viewer">
        <div class = "isf-layout_interactive-scroller__background js--interactive-scroller__background" style = "background-image: url('{{{ headerImage }}}');">
        	<h3>{{{ headerTitle }}}</h3>
        </div>
        <!-- Viewer: Content -->
        <div class = "isf-layout_interactive-scroller__content isf-f-white">
            <!-- content -->
        </div>
    </div>
</div>

<!--
  <div class="isf-layout_interactive-scroller__content__group js--interactive-scroller__content__group effect--up-and-down is--active">
  <div class="js--interactive-scroller__content__group__inner isf-layout_interactive-scroller__content__group__inner ">
            <picture class="">
                <source srcset="https://interactive-development.hsnb.io/2019-06-ellesse-lookbook/assets/lb_1_1.jpg" media="(min-width: 768px)">
                <img src="https://interactive-development.hsnb.io/2019-06-ellesse-lookbook/assets/lb_1_1.jpg">

            </picture>
            <picture class="">
                <source srcset="https://interactive-development.hsnb.io/2019-06-ellesse-lookbook/assets/lb_1_4.jpg" media="(min-width: 768px)">
                <img src="https://interactive-development.hsnb.io/2019-06-ellesse-lookbook/assets/lb_1_4.jpg">

            </picture>
  </div>
</div>
-->
