<div class = "isf-layout isf-layout_simple isf-padding-tb-md isf-color-scheme--{{ colorScheme }}" id = "{{ layoutId }}">
    <div class = "isf-container isf-{{ container }} js--container">
        <!-- content -->
   	</div>
</div>
