<section class = "xpr-section xpr-section--flex" id = "givenchy--tapes">
  <div class = "givenchy--tapes">
  </div>

  <div class = "givenchy--tapes__image-wrap">
    <div class = "givenchy--tapes__image" id = "hero">
        <img src="https://interactive-development.hsnb.io/2019-10-givenchy/assets/3.jpg" />
    </div>
  </div>
</section>
