<div class = "xpr-swoosh">
  <div class = "xpr-swoosh--inner">
    <div class = "xpr-swoosh__images images--0">
      <div class = "xpr-swoosh__image image--foreground">
        <img src = "https://interactive-development.hsnb.io/2019-10-givenchy/assets/1.jpg" />
      </div>
      <div class = "xpr-swoosh__image image--background">
        <img src = "https://interactive-development.hsnb.io/2019-10-givenchy/assets/texture-1.jpg" />
      </div>
    </div>
    <div class = "xpr-swoosh__images images--1">
      <div class = "xpr-swoosh__image image--foreground">
        <img src = "https://interactive-development.hsnb.io/2019-10-givenchy/assets/7.jpg" />
      </div>
      <div class = "xpr-swoosh__image image--background">
        <img src = "https://interactive-development.hsnb.io/2019-10-givenchy/assets/texture-2.jpg" />
      </div>
    </div>
  </div>
</div>

<div class = "xpr-gradient">
</div>
