<header class = "isf-preview__header">
	<div class = "isf-preview__header__brand">
		<h4>hsnbisf 2.0: {{ currentPage }}</h4>
	</div>

	<div class = "isf-preview__header__nav">
		<ul class = "nav-pages">
			<li class = "nav-pages__li">
				<a href = "index.html" class = "nav-pages__link"><span>home</span></a>
			</li>
      <li class = "nav-pages__li">
        <a href = "#" class = "nav-pages__link nav-trigger"><span>modules</span><ion-icon name="add"></ion-icon></a>
        <div class = "nav--expanded">
          <div class = "nav--expanded--inner">
            <div class = "nav--expanded--sub">
              <span class = "nav-label">elements</span>
              <ul>
                <li>
                  <a href = "text.html">text</a>
                </li>
                <li>
                  <a href = "images.html">images</a>
                </li>
                <li>
                  <a href = "video.html">video</a>
                </li>
                <li>
                  <a href = "galleries.html">gallery</a>
                </li>
                <li>
                  <a href = "other.html">other</a>
                </li>
              </ul>
            </div>
            <div class = "nav--expanded--sub">
              <span class = "nav-label">layouts</span>
              <ul>
                <li>
                  <a href = "simple.html">simple</a>
                </li>
                <li>
                  <a href = "chapter.html">chapter</a>
                </li>
                <li>
                  <a href = "splitsticky.html">splitsticky</a>
                </li>
                <li>
                  <a href = "floater.html">floater</a>
                </li>
                <li>
                  <a href = "scroller.html">scroller</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class = "nav-pages__li">
        <a href = "#" class = "nav-pages__link"><span>stories</span></a>
      </li>
    </ul>
  </div>
  <div class = "isf-preview__header__nav">

		<ul class = "nav-external">
			<a href = "https://github.com/titel-media/hs-interactive-story-framework/" target = "_blank">
				<ion-icon name="logo-github"></ion-icon>
			</a>
		</ul>
	</div>
</header>
