<nav class = "isf-nav_tabs js--tabs">
  <div class = "isf-nav_tabs__inner--xs el--xs">
    <button class = "isf-nav_tabs__current js--current">
      <span class = "js--current--text isf-current-el">Select section:</span>
      <span class = "isf-icon icon--dropdown">
      </span>
    </button>
    <ul>
      {{#each tabs }}
      <li>
        <button class = "js--tab--xs isf-nav_tab--xs" data-trgt = "{{ tabTarget }}">
          <span>{{ tabLabel }}</span>
        </button>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class = "isf-nav_tabs__inner el--lg">
    <ul>
      {{#each tabs }}
      <li>
        <button class = "js--tab isf-nav_tab" data-trgt = "{{ tabTarget }}">
          <span>{{ tabLabel }}</span>
        </button>
      </li>
      {{/each}}
    </ul>
  </div>
</nav>

