<div class = "isf-el_images js--images" id = "{{ elementId }}">
	<div class = "isf-el_images__inner">

		{{#each items }}
      <div class = "isf-el_image js--image" {{#if effect }} data-effect = "{{ effect }}" {{/if}}>
        {{#if url }}
          <img src="{{ url }}" />
        {{/if}}
        {{#if caption }}
          <small class = "isf-el_caption">
            {{ caption }}
          </small>
        {{/if}}
      </div>
    {{/each}}

	</div>
</div>
