
/* Import framework styles */

@import 'common/scss/style.scss';

/* Import module styles */

@import "layouts/simple/style.scss";
@import "layouts/chapter/style.scss";
@import "layouts/splitsticky/style.scss";
@import "layouts/interactivescroller/style.scss";

@import "elements/images/style.scss";
@import "elements/text/style.scss";
@import "elements/quote/style.scss";
@import "elements/cta/style.scss";
@import "elements/video/style.scss";
@import "elements/gallery/style.scss";

@import "nav/tabs/style.scss";

@font-face {
  font-family: univers-light;
  src: url('https://interactive-development.hsnb.io/hsnbisf/fonts/UniversLTStd-Light.otf');
}

@font-face {
  font-family: univers-regular;
  src: url('https://interactive-development.hsnb.io/hsnbisf/fonts/UniversLTStd.otf');
}

@font-face {
  font-family: univers-condensed;
  src: url('https://interactive-development.hsnb.io/hsnbisf/fonts/UniversLTStd-Cn.otf');
}

@font-face {
  font-family: univers-bold;
  src: url('https://interactive-development.hsnb.io/hsnbisf/fonts/UniversLTStd-Bold.otf');
}

@font-face {
  font-family: univers-condensed-bold;
  src: url('https://interactive-development.hsnb.io/2019-09-nike/UniversLTW04-67BoldCond.woff');
}

* {
  /*-webkit-font-smoothing: antialiased;*/
  text-rendering: optimizelegibility;
  box-sizing: border-box;
}

.hsnb-header {
  height: 77px;
  background-color: white;
  font-family: univers-condensed-bold;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;

  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__menu {
    list-style: none;
    display: flex;

    li {
      margin: 0px 10px;
    }
  }

  &__right {
    list-style: none;
    display: flex;
  }
}

.isf-interactive-story__header {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    position: absolute;
    content: '';
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  h1 {
    max-width: 800px;
    color: white;
    text-align: center;
    z-index: 20;
    position: relative;
    font-family: univers-bold;
    font-size: 2.1117647059rem;

    @media (min-width: 768px) {
      font-size: 2.3529411765rem;
    }

    @media (min-width: 1200px) {
      font-size: 3.2352941176rem;
    }
  }
}







