<div class = "isf-el isf-el_cta isf-el_cta--{{ colorScheme }}" id = "{{ elementId }}">
    <a class="shop-frontpage-new-button cta" href="{{ url }}" target = "_blank">
        {{ text }}
    </a>
</div>
